html{background: url(Imagenes/Fondo.jpg);
}

table, th, td{
	border: 1px solid black;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
}

label {font-size: 20px;}

.Cuadro{font-size:15px;}	

.Botones{
	color: darkblue;
	width: 150px;
	font-size: 20px;
}

table{
	width: 700px; 
	height:100px;
	background-color:#3C3C3C;
}

th{
	background-color:#A9A9A9;
}

td {
	background-color: #D4F09C;
}

#div1{
	float: left;
	margin-left: 80px;
	margin-top: 10px;
}

#div2, #div3{
	float: right;
	margin-right: 70px;
	margin-top: 10px;
	background-color: #fafafa;
	border-radius: 15px 15px 15px 15px;
	padding:20px;
	width: 351px;
}

#div3{clear: both;}